* {
  font-family: 'Libre Baskerville', serif;
}

.app-header {
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 40px;
  font-weight: bold;
  font-size: 30px;
}

.home-link {
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: center;
}

.choose-house {
  display: flex;
  justify-content: center;
}

.house-link {
  display: flex;
  color: black;
  text-decoration: none;
  /* put space between each house name */
  margin: 10px;
}

.house-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
